form{
    margin:0 auto;
    width:550px;
    display: flex;
    align-items: center;
    height:100%;
    justify-content: center;
    flex-flow: column wrap;
    align-content: center;
    text-align: center;
}
div.field{
    margin-top:10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
div.field label{
    flex:1;
}
div.field input, textarea{
    flex:2;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    border:solid black 5px;
    border-radius:7px;
}
input[type=submit],input[type=button]{
    font-size: 16px;
    margin: 7px;
    font-family: Roboto, sans-serif;
    border:solid black 5px;
    border-radius:7px;
    background-color: #ecd6bf;
    font-weight: bold;
}
