form{
    margin:0 auto;
    width:550px;
}
div.field{
    display:flex;
    justify-content: flex-end;
    margin-top:10px;
}
div.field label{
    flex:1;
}
div.field input, textarea{
    flex:2;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    border:solid black 5px;
    border-radius:7px;
}
div.field input[type=submit],div.field input[type=button]{
    flex:2;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    border:solid black 5px;
    border-radius:7px;
    background-color: #ecd6bf;
    font-weight: bold;
}