.videos{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.video{
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 20px 10px;
    border-radius: 20px
}
.video:hover{
   background-color: #222222;
}
.video img{
    width:256px;
    height:144px;
    padding-left: 0;
    object-fit: cover;
}
.video p{
    width:250px;
    margin:0 auto;
    margin-top: 10px;
}
div.video a:hover{
    background-color: transparent;
}
h2{
    text-align: center;
}