#like, #dis{
    background:none;
    border: none;
    font-weight: bold;
    font-size: 15px;
}
span{
    color: black;
    font-weight: bold;
}
.player{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.player video{
    width: 75%;
}
.desc{
    text-align: left;
    width: 75%;
}
.comments{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.comment_form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    width:75%;
}
.comment{
    width:75%;
    background-color: #85796a;
    border-radius: 5px;
    color: #EEEEEE;
    text-shadow: 2px 1px black;
    margin-bottom: 10px;
}
textarea{
    width:75%;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    border:solid black 1px;
    border-radius:3px;
    height:100px;
    margin-bottom: 10px;
}